# Backups:
*~
*.bak
# RouteConverter:
RouteConverter*/buildNumber.properties
# Maven:
target/
dependency-reduced-pom.xml
# Eclipse:
.classpath
.project
.settings/
# IDEA:
*.iml
*.ipr
*.iws
.idea/
# Logging:
*.log
