body {
	background-color: #ffffff;
	margin: 10px;
	text-align: left;
}
.document {
	border: 0 none;
	padding: 0;
	width: auto;
	background-image: none;
}
.page {
	padding: 0;
}
h2 {
	padding: 0.3em 10px 0.3em 10px;
	margin: 0.4em -10px 0.4em -10px;
}
