/* special setup for embedding into RouteConverter */
html {
    overflow: hidden
}
body {
    margin: 0;
    padding: 0
}
#map {
    width: 100%;
    height: 100%
}
#directions {
    display: none;
    padding-top: 20px
}
#LatLngControl {
    background: #ffc;
    border: 1px solid #676767;
    font-family: Verdana, Arial, sans-serif;
    font-size: 0.7em;
    padding: 2px 4px;
    position: absolute;
}
#CopyrightControl {
    background: #fff;
    font-size: 10px;
    font-family: Arial, sans-serif;
    whitespace: nowrap;
    opacity: .6;
    filter: alpha(opacity = 60);
    -ms-filter: "alpha(opacity=60)";
    -khtml-opacity: .6;
    -moz-opacity: .6;
}

/* printing helper */
.normal {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%
}

/* context menu */
.ContextMenu {
    position: absolute;
    z-index: 1000;
    display: none;
    background: #f0f0f0;
    border: 1px solid #a0a0a0;
    min-width: 90px;
}
.ContextMenu ul {
    padding: 1px 0 1px 0;
    margin: 0;
}
.ContextMenu li {
    list-style: none;
    padding: 0 1px;
    margin: 0;
}
.ContextMenu a {
    display: block;
    color: #000000;
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
    text-decoration: none;
    line-height: 22px;
    padding: 1px 8px;
    border: 1px solid #f0f0f0;
}
.ContextMenu li.hover a {
    background-color: #ecf1f6;
    border: 1px solid #aecff7;
}
.ContextMenu li.separator div {
    border-top: solid 1px #cccccc;
}

/* labels for waypoints on the map */
.Label {
    position: relative;
    left: 7px;
    top: -10px;
    white-space: nowrap;
    border: 0;
    font-family: arial;
    font-size: 9px;
    padding: 2px;
    background-color: #fff;
    opacity: .75;
    filter: alpha(opacity = 75);
    -ms-filter: "alpha(opacity=75)";
    -khtml-opacity: .75;
    -moz-opacity: .75;
}
